/latihan/Oracle/nbproject/private/
/latihan/Oracle/build/
/latihan/Oracle/dist/
/latihan/UTS-PBO-Genap24-1155-Frendi/nbproject/private/
/latihan/UTS-PBO-Genap24-1155-Frendi/build/
/latihan/Gemastik-Lomba/target/
